*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}

.text{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-right: 1em;
}

.typed-text{
    color: red ;
    text-align: center;
}

.cursor{
    display: inline-block;
    width: .1em;
    margin-left: .5em;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{
        background-color: #fff;
    }
    50%{
        background-color:transparent;
    }
}